@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
::selection {
    background-color: black;
    color: white;
}

.nav-item.active a,
.nav-item a:hover {
    text-decoration: underline;
    color: white;
}
/******** INDEX ********/
.hero {
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_content {
    width: 60%;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur;
}
.hero_content a {
    text-decoration: none;
    color: white;
    font-size: 10rem;
}
.hero_content {
    transition: all 3s;
}
.hero_content:hover {
    background-color: rgba(255, 0, 0, 0.063);
}
.h1_vivero {
    transition: all 2s;
}
.h1_vivero:hover {
    color: red;
}

.h1_vivero {
    font-size: 6rem;
    color: #CAD2C5;
}

.hero_text {
    color: white;
}

/******* PRINCIPAL *****/
.container_principal {
    background-image: url(../img/principal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
       "sucursales  productos"
       "servicios   contacto";
    padding: 15px;
    gap: 10px;
}
.container_principal > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.container_principal a {
    text-decoration: none;
    color: white;
}
.container_principal a {
    transition: all 1s;
}
.container_principal a:hover {
    color: #CAD2C5;
    font-weight: bold;
}
.sucursales {
    grid-area: sucursales;
}
.productos {
    grid-area: productos;
}
.servicios {
    grid-area: servicios;
}
.contacto {
    grid-area: contacto;
}

/******** NAV *******/
.img_logo {
    width: 80px;
}
/****** CONTACTO *****/
.boton_form {
    background-color: #2d4735;
    color: white;
}
/******* SUCURSALES ********/
.container a {
    text-decoration: none;
}
.container > div {
    color: #2d4735
}
.card {
    transition: all .1s; 
}
.card:hover {
    transform: scale(1) translateY(-12px); 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card h3 {
    color: white;
}
.card p {
    color: white;
}
.oscurecer {
    filter: brightness(50%);
}
.img_sucu {
    width: 400px;
    height: 340px;
    object-fit: cover;
}


 /******* PRODUCTOS ***********/
 .container_retiro a {
    text-decoration: none;
    color: #CAD2C5;
 }
 .header_productos {
    font-family: "Montserrat", sans-serif;
 }
 .img_productos {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
 }
 .contenedor > div {
    transition: all .1s; 
}
.contenedor > div:hover {
    transform: scale(1) translateY(-12px); 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
 .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
    margin-top: 2rem;
 }
 .contenedor > div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    border-radius: 20px;
 }
 .contenedor > div:hover {
    background-color: #CAD2C5;
    color: white;
 }

.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.informacion button {
    background-color: #31572C;
    color: white;
    padding: .4rem;
    border-radius: 10px;
    margin-bottom: 15px;
    border: white;
}
.informacion button:hover {
    background-color: white;
    color: #2d4735;
    font-weight: bold;
}

/******* MEDIA QUERIES *******/
@media screen and (max-width: 768px) {
    .container_principal {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "sucursales  productos"
        "sucursales  productos"
        "servicios   contacto"
        "servicios   contacto";
    }
    .container_principal > div {
        font-size: 2.4rem;
    }
    .hero_text {
        font-size: 18px;
        text-align: center;
    }
.h1_vivero {
    font-size: 3rem;
}
.hero_content {
    padding: 5px;
}
.card h3 {
    font-size: 10p;
}
}
@media screen and (max-width: 480px) {
.container_principal {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: left;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "sucursales"
        "productos"
        "servicios"
        "contacto";
}
.container_principal > div {
    font-size: 2.5rem;
}
.hero_text {
    font-size: 1rem;
}
.h1_vivero {
    font-size: 2rem;
}
}
.nav-item {
    margin-left: 1rem;
}



