@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
*::selection {
  background-color: black;
  color: white;
}

.img_logo {
  width: 80px;
  animation: bounce-top 0.9s both;
}

.nav-item.active a,
.nav-item a:hover {
  text-decoration: underline;
  color: white;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.hero {
  height: 100vh;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero_content {
  width: 60%;
  padding: 10px;
  border-radius: 1rem;
  transition: all 3s;
}
.hero .hero_content a {
  text-decoration: none;
  color: white;
}
.hero .hero_content .hero_vivero {
  font-size: 6rem;
  color: #CAD2C5;
  transition: all 5s;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.3s;
}
.hero .hero_content .hero_vivero:hover {
  color: red;
}
.hero .hero_content .hero_text {
  color: white;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.7s;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
.container_principal {
  background-image: url(../img/principal1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sucursales  productos" "servicios   contacto";
  padding: 15px;
  gap: 10px;
}
.container_principal div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.container_principal a {
  text-decoration: none;
  color: white;
  transition: all 1s;
}
.container_principal a:hover {
  color: #CAD2C5;
  font-weight: bold;
}
.container_principal .sucursales {
  grid-area: sucursales;
  animation-delay: 0.2s;
}
.container_principal .productos {
  grid-area: productos;
  animation-delay: 0.6s;
}
.container_principal .servicios {
  grid-area: servicios;
  animation-delay: 1s;
}
.container_principal .contacto {
  grid-area: contacto;
  animation-delay: 1.4s;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.sucursales_back {
  margin-bottom: 5rem;
  padding: 1rem;
  height: 400px;
  background: rgb(247, 247, 247);
  background: radial-gradient(circle, rgb(247, 247, 247) 59%, rgb(202, 210, 197) 100%);
  transition: all 0.1s;
}
.sucursales_back:hover {
  transform: scale(1) translateY(-12px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.sucursales_back .h2_title {
  color: rgb(203, 73, 73);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.sucursales_back .p_sucu {
  color: #2d4735;
  font-weight: 600;
  text-align: center;
}

.boton_form {
  background-color: #2d4735;
  color: white;
}
.boton_form:hover {
  background-color: white;
  font-weight: bold;
  transition: 1s;
}

.card_form {
  margin-bottom: 5rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 2rem;
}
.contenedor .img_productos {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.contenedor > div {
  transition: all 0.1s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 20px;
}
.contenedor > div:hover {
  transform: scale(1) translateY(-12px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #CAD2C5;
  color: white;
}
.contenedor .informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor .informacion button {
  background-color: #2d4735;
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
  margin-bottom: 15px;
  border: white;
}
.contenedor .informacion button:hover {
  background-color: white;
  color: #2d4735;
  font-weight: bold;
  transition: 1s;
}

.container_retiro a {
  text-decoration: none;
  color: #CAD2C5;
}

.row a {
  text-decoration: none;
}

.container .card {
  transition: all 0.1s;
}
.container .card:hover {
  transform: scale(1) translateY(-12px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.container .card .oscurecer {
  filter: brightness(50%);
}
.container .card h3, .container .card p {
  color: white;
}

.cajita_produ {
  margin-bottom: 5rem;
}

.card_form {
  transition: all 0.1s;
}
.card_form:hover {
  transform: scale(1) translateY(-12px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.servicios_back {
  margin-inline: 8rem;
  padding-bottom: 0;
  height: 400px;
  background: rgb(247, 247, 247);
  background: radial-gradient(circle, rgb(247, 247, 247) 59%, rgb(202, 210, 197) 100%);
  transition: all 0.1s;
}
.servicios_back:hover {
  transform: scale(1) translateY(-12px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.servicios_back .p_servicios_ {
  color: rgb(109, 107, 107);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.servicios_back .h2_title_ {
  color: rgb(203, 73, 73);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container_principal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "sucursales  productos" "sucursales  productos" "servicios   contacto" "servicios   contacto";
  }
  .container_principal > div {
    font-size: 3rem;
  }
  .hero .hero_content .hero_text {
    font-size: 1.2rem;
    text-align: center;
  }
  .hero .hero_content .hero_vivero {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .container_principal {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: left;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "sucursales" "productos" "servicios" "contacto";
  }
  .container_principal > div {
    font-size: 2.8rem;
  }
  .nav-item {
    margin-left: 1rem;
  }
  .hero .hero_content .hero_text {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero_content .hero_vivero {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
