.boton_form {
    background-color: $maincolor;
    color: white;

    &:hover {
        background-color: white;
        font-weight: bold;
        transition: 1s;
       
    }
}
.card_form {
    margin-bottom: 5rem;
}
