.hero {
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero_content {
        width: 60%;
        padding: 10px;
        border-radius: 1rem;
        transition: all 3s;
        
        a {
            text-decoration: none;
            color: white;
    
        }

        .hero_vivero {
            font-size: 6rem;
            color: #CAD2C5;
            transition: all 5s;
            animation:slide-in-blurred-top .6s cubic-bezier(.23,1.000,.32,1.000) both;
            animation-delay: .3s;

            &:hover {
                color: red;
            }
        }
        .hero_text {
            color: white;
            animation:slide-in-blurred-left .6s cubic-bezier(.23,1.000,.32,1.000) both;
            animation-delay: .7s;
        }
    }
}


 @keyframes slide-in-blurred-top{0%{transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform-origin:50% 0;filter:blur(40px);opacity:0}100%{transform:translateY(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}


@keyframes slide-in-blurred-left{0%{transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform-origin:100% 50%;filter:blur(40px);opacity:0}100%{transform:translateX(0) scaleY(1) scaleX(1);transform-origin:50% 50%;filter:blur(0);opacity:1}}