.container_principal {
    background-image: url(../img/principal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
       "sucursales  productos"
       "servicios   contacto";
    padding: 15px;
    gap: 10px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both;
    }
    a {
        text-decoration: none;
        color: white;
        transition: all 1s;

        &:hover {
            color: $secondarycolor;
            font-weight: bold;
        }
    }
    .sucursales {
        grid-area: sucursales;
        animation-delay: .3s;
    }
    .productos {
        grid-area: productos;
        animation-delay: .6s;
    }
    .servicios {
        grid-area: servicios;
        animation-delay: .9s;
    }
    .contacto {
        grid-area: contacto;
        animation-delay: 1.2s;
    }
    
}

 @keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}