
.sucursales_back {
margin-inline: 10rem;
margin-bottom: 5rem;
height: 400px;
background: rgb(247,247,247);
background: radial-gradient(circle, rgba(247,247,247,1) 59%, rgba(202,210,197,1) 100%);
transition: all .1s;
&:hover {
transform: scale(1) translateY(-12px); 
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} 
.h2_title {
    color: rgb(203, 73, 73);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    }
.p_sucu {
    color: $maincolor;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    }
} 
